@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: auto;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Navbar start*/

.navbar {
    flex-shrink: 0;
    background: #FFFFFF;
    box-shadow: 0px 5px 40px -3px rgba(0,0,0,0.91);
    border-radius: 0 0 10px 10px;
}



.col-2 .logo {
    width: 180px;
    height: 106px;
}

ul, li, a {
    text-decoration: none;
    list-style: none;
}

ul, .nav li a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
    color: #02073E;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
}

.col-2 a {
    width: 146px;
    height: 45px;
    margin: auto;
    flex-shrink: 0;
    border-radius: 5px;
    font-family: 'DM Sans', sans-serif;
    background: #02073E;
    color: #fff;
    list-style: none;
    padding: 20px;
    font-weight: bold;
}

.nav-but{
    display: none;
}

.nav-div{
    display: none;
}

/*Navbar end*/

/*Header Start*/

.header{
    width: 1400px;
    margin: auto;
    background: url("../img/pattern.svg") no-repeat ;
}

.col-12 .image-header, .header-image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.header-h1{
    color: #02073E;
    text-align: center;
    font-family: DM Sans, serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: -1.375px;
}


/*Header End*/

/*Behind Start*/

.behind{
    margin-top: 5%;
}

.card .behind-p{
    width: 162px;
    height: 40px;
    flex-shrink: 0;
    color: #8D448B;
    font-family: DM Sans, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}

.card .behind-h3{
    width: 510px;
    height: 188px;
    flex-shrink: 0;
    color: #0F2137;
    font-family: DM Sans, serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -1.5px;
}

.card .behind-text{
    width: 454px;
    height: 166px;
    flex-shrink: 0;
    color: #02073E;
    font-family: DM Sans, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px; /* 233.333% */
}

.card .behind-button{
    width: 135px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #02073E;
    color: #FFF;
    font-family: DM Sans, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    letter-spacing: -0.16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.card .behind-image{
    width: 794px;
    height: 550px;
    flex-shrink: 0;
}
/*Behind End*/

/*Perfect Start*/


.perfect-div .perfect-h2{
    color: #0F2137;
    text-align: center;
    font-family: DM Sans, serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px; /* 183.333% */
    letter-spacing: -1.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
}

.perfect-div .perfect-p{
    color: #858B91;
    text-align: center;
    font-family: DM Sans, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
}

.perfect-div .perfect-d{
    width: 424px;
    height: 62px;
    flex-shrink: 0;
    stroke-width: 1px;
    background: #F8F8FA;
    border-radius: 12px;
    border: solid #E8E9EB 2px;
    margin: 2% auto ;
}

.perfect-div .perfect-card1{
    width: 196px;
    height: 48px;
    flex-shrink: 0;
    margin: 10px;
    background: #FFF;
    border-radius: 12px;
    filter: drop-shadow(0px 4px 4px rgba(59, 79, 109, 0.08));
}

.perfect-card1, .perfect-text2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: #0F2137;
    font-family: DM Sans, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.24px;
}

.perfect-card2 .perfect-text2{
    display: flex;
    width: 158.657px;
    height: 24px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #0F2137;
    font-family: DM Sans, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.24px;
}



.perfect-bag{
    width: 600px;
    height: 662.8px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px  solid #E0E2E4;
    margin: 8% 2%;
    background: #FFF;
}

.card-perfect{
    padding: 65px;
}

.card-perfect .perfect-h2{
    display: flex;
    width: 242.899px;
    height: 18px;
    flex-shrink: 0;
    color: #0F2137;
    font-family: DM Sans, serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.55px;
    margin: 70px 0 15px;
}

.card-perfect .perfect-text3{
    display: flex;
    width: 408px;
    height: 42px;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 0;
    color: #343D48;
    font-family: DM Sans, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-top: 30px;
}

.card-perfect .perfect-text4{
    opacity: 0.5;
}

.perfect-pack{
    width: 599px;
    height: 140px;
    flex-shrink: 0;
    border-radius: 0px 0px 10px 10px;
    background: #F8F8FA;
    padding: 40px 70px;
    border-left: 1px   solid #E0E2E4;
    border-right: 1px   solid #E0E2E4;

}

.perfect-pack .perfect-pack-p{
    display: flex;
    width: 276.596px;
    height: 28px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #343D48;
    font-family: DM Sans, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
}

.perfect-pack .perfect-pack-h3{
    display: flex;
    width: 242.899px;
    height: 26px;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 0;
    color: #8D448B;
    font-family: DM Sans, serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 8px;
    letter-spacing: -0.55px;
}

/*Perfect End*/

/*footer start*/

.footer{
    display: flex;
    justify-content: center;
    background: #020718;
    height: 560px;
    flex-shrink: 0;
}

.footer-h1{
    color: #FFF;
    text-align: center;
    font-family: DM Sans, serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -0.5px;
}

.footer-p{
    color: #FFF;
    text-align: center;
    font-family: DM Sans, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -0.5px;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
}


.search .footer-input{
    width: 380px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 5px;
    /*opacity: 0.07999999821186066;*/
    padding: 10px;
    font-family: DM Sans, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    outline: none;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    border: #E0E2E4 solid 0.5px;
    margin: 0 5px;
}




.search .footer-search{
    width: 161px;
    height: 61px;
    border-radius: 4px;
    background: #FFF;
    flex-shrink: 0;
    padding: 16px;
    color: #020718;
    font-family: DM Sans, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
    opacity: 0.800000011920929;
    letter-spacing: -0.5px;
    border: #0F2137 solid 0.5px;
}



/*footer start*/


@media (max-width: 1200px) and (min-width: 768px) {


    .container {
        width: 700px;
        margin: auto;
    }

    /*Navbar start*/

    .navbar{
        background: #FFFFFF;
        box-shadow: 0px 5px 40px -3px rgba(0,0,0,0.91);
        border-radius: 0 0 10px 10px;
    }


    .col-2 .logo {
        width: 160px;
        height: 86px;
    }


    ul, .nav li a {
        padding: 14px;
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
    }

    .col-2 a {
        width: 126px;
        height: 35px;
        border-radius: 5px;
        padding: 16px;
    }

    .nav-but{
        display: none;
    }

    .nav-div{
        display: none;
    }

    /*Navbar end*/

    /*Header Start*/

    .header{
        width: 700px;
    }

    .col-12 .image-header, .header-image{
        margin: 15px;
    }

    .col-12 .header-image .images{
        width: 700px;
    }

    .header-h1{
        font-size: 44px;
        font-weight: 600;
        line-height: 60px;
        letter-spacing: -1px;
    }


    /*Header End*/


    /*Behind Start*/

    .behind{
        margin-top: 4%;
    }

    .card .behind-p{
        width: 142px;
        height: 30px;
        font-size: 15px;
        font-weight: 600;
        line-height: 30px;
    }

    .behind .d-flex {
        display: block!important;
    }

    .card .behind-h3{
        width: 410px;
        height: 168px;
        font-size: 34px;
        font-weight: 600;
        line-height: 45px;
        letter-spacing: -1px;
    }

    .card .behind-text{
        width: 354px;
        height: 106px;
        font-size: 15px;
        font-weight: 300;
        line-height: 22px; /* 233.333% */
    }

    .card .behind-button{
        width: 115px;
        height: 35px;
        border-radius: 4px;
        font-size: 12px;
        font-weight: 600;
        line-height: 10px; /* 150% */
        letter-spacing: -0.10px;
    }

    .behind-image{
        width: 700px;
        height: 480px;
    }
    /*Behind End*/

    /*Perfect Start*/


    .perfect-div .perfect-h2{
        font-size: 25px;
        font-weight: 600;
        line-height: 45px; /* 183.333% */
        letter-spacing: -1.2px;
        margin-top: 4%;
    }

    .perfect-div .perfect-p{
        font-size: 15px;
        font-weight: 300;
        line-height: 20px; /* 144.444% */
    }

    .perfect-div .perfect-d{
        width: 424px;
        height: 62px;
        stroke-width: 1px;
        border-radius: 8px;
        margin: 1% auto ;
    }

    .perfect-div .perfect-card1{
        width: 176px;
        height: 38px;
        margin: 10px;
        border-radius: 8px;
    }

    .perfect-card1, .perfect-text2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        color: #0F2137;
        font-family: DM Sans, serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 150% */
        letter-spacing: -0.24px;
    }

    .perfect-card2 .perfect-text2{
        width: 148.657px;
        height: 18px;
        font-size: 16px;
        font-weight: 400;
        line-height: 18px; /* 150% */
        letter-spacing: -0.24px;
    }



    .perfect-bag{
        width: 300px;
        height: 462.8px;
        border-radius: 10px;
        margin: 5% 1%;
        background: #FFF;
    }

    .card-perfect{
        padding: 36px;
    }

    .card-perfect .perfect-h2{
        width: 222px;
        height: 15px;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: -0.44px;
        margin: 50px 0 10px;
    }

    .card-perfect .perfect-text3{
        width: 200px;
        height: 32px;
        font-size: 12px;
        font-weight: 300;
        line-height: 20px; /* 162.5% */
        margin-top: 25px;
    }

    .card-perfect .icon-perfect{
        width: 17px;
        height: 16px;
    }

    .perfect-pack{
        width: 300px;
        height: 100px;
        padding: 20px 40px;
        border-left: 1px   solid #E0E2E4;
        border-right: 1px   solid #E0E2E4;

    }

    .perfect-pack .perfect-pack-p{
        width: 256.596px;
        height: 24px;
        font-size: 12px;
        font-weight: 300;
        line-height: 24px; /* 175% */
    }

    .perfect-pack .perfect-pack-h3{
        width: 220px;
        height: 20px;
        font-size: 20px;
        font-weight: 600;
        margin-top: 6px;
        letter-spacing: -0.44px;
    }

    /*Perfect End*/

    /*footer start*/

    .footer{
        height: 360px;
    }

    .footer-h1{
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
    }

    .footer-p{
        font-size: 10px;
        font-weight: 400;
        line-height: 30px;
    }

    .search{
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .search .footer-input{
        width: 280px;
        height: 40px;
        padding: 8px;
        font-size: 12px;
        font-weight: 400;
        line-height: 40px;
        margin: 0 4px;
    }




    .search .footer-search{
        width: 141px;
        height: 51px;
        border-radius: 4px;
        padding: 12px;
        font-size: 12px;
        font-weight: 500;
        line-height: 50px;
        letter-spacing: -0.5px;
        border: #0F2137 solid 0.5px;
    }

    /*footer start*/
}


@media (max-width: 767px) and (min-width: 300px) {

    .container {
        width: 300px;
        margin: auto;
    }

    /*Navbar start*/
    .navbar{
        background: #FFFFFF;
        box-shadow: 0px 5px 40px -3px rgba(0,0,0,0.91);
        border-radius: 0 0 10px 10px;
    }


    .col-2 .logo {
        width: 140px;
        height: 86px;
    }

    .nav {
        display: none;
    }

    .desk {
        display: none;
    }

    .nav-div{
        display: none;
    }

    .nav-but{
        display: block;
    }

    .mobile{
        width: 100%;
        height: 100vh;
        background: #FFFFFF;
        position: absolute;
        z-index: 1;
    }

    .nav_mobile{
        display: block;
        margin-top: 70px;
        line-height: 100px;
    }

    .movile_font{
        font-size: 25px;
    }

    .mobile_but, .nav-bu{
        font-size: 15px;
        text-align: center;
    }

    .onclik{
        width: 35px;
    }

    .close{
        width: 35px;
        display: none;
    }



    /*Navbar end*/

    /*Header Start*/

    .header{
        width: 350px;
    }

    .col-12 .image-header, .header-image{
        margin: 15px;
    }

    .image-header .header_im{
        width: 150px;
    }

    .col-12 .header-image .images{
        width: 350px;
    }

    .header{
        width: 300px;
        margin: auto;
        background: url("../img/pattern.svg") no-repeat center center;
    }


    .header-h1{
        font-size: 26px;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: -1px;
    }


    /*Header End*/


    /*Behind Start*/

    .behind{
        margin-top: 3%;
    }

    .card .behind-p{
        width: 132px;
        height: 20px;
        font-size: 12px;
        font-weight: 600;
        line-height: 30px;
    }

    .behind .d-flex {
        display: block!important;
    }

    .card .behind-h3{
        width: 270px;
        height: 98px;
        font-size: 24px;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: -1px;
    }

    .card .behind-text{
        width: 254px;
        height: 86px;
        font-size: 15px;
        font-weight: 300;
        line-height: 20px; /* 233.333% */
    }

    .card .behind-button{
        width: 115px;
        height: 35px;
        border-radius: 4px;
        font-size: 12px;
        font-weight: 600;
        line-height: 10px; /* 150% */
        letter-spacing: -0.10px;
        margin-top: 70px;
    }

    .behind-image{
        width: 300px;
        height: 200px;
    }
    /*Behind End*/

    /*Perfect Start*/


    .perfect-div .perfect-h2{
        font-size: 20px;
        font-weight: 600;
        line-height: 45px; /* 183.333% */
        letter-spacing: -1.2px;
        margin-top: 4%;
    }

    .perfect-div .perfect-p{
        font-size: 15px;
        font-weight: 300;
        line-height: 20px; /* 144.444% */
    }

    .perfect-div .perfect-d{
        width: 306px;
        height: 62px;
        stroke-width: 1px;
        border-radius: 8px;
        margin: 1% auto ;
    }

    .perfect-div .perfect-card1{
        width: 146px;
        height: 38px;
        margin: 10px;
        border-radius: 8px;
    }

    .perfect-card1, .perfect-text2{
        font-size: 12px;
        font-weight: 500;
        line-height: 24px; /* 150% */
        letter-spacing: -0.24px;
    }

    .perfect-card2 .perfect-text2{
        width: 138.657px;
        height: 18px;
        font-size: 12px;
        font-weight: 500;
        line-height: 18px; /* 150% */
        letter-spacing: -0.24px;
    }

    .perfect_per{
        display: block;
    }

    .perfect-bag{
        width: 300px;
        height: 462.8px;
        border-radius: 10px;
        margin: 5% 1%;
        background: #FFF;
        padding: 20px;
        position: relative;
    }

    .card-perfect{
        padding: 36px;
    }

    .card-perfect .perfect-h2{
        width: 222px;
        height: 15px;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: -0.44px;
        margin: 10px 0 10px;
    }

    .card-perfect .perfect-text3{
        width: 200px;
        height: 32px;
        font-size: 12px;
        font-weight: 300;
        line-height: 20px; /* 162.5% */
        margin-top: 25px;
    }

    .card-perfect .icon-perfect{
        width: 17px;
        height: 16px;
    }

    .perfect-pack{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 298px;
        height: 100px;
        padding: 20px 40px;
        border-left: 1px   solid #E0E2E4;
        border-right: 1px   solid #E0E2E4;

    }

    .perfect-pack .perfect-pack-p{
        width: 256.596px;
        height: 24px;
        font-size: 12px;
        font-weight: 300;
        line-height: 24px; /* 175% */
    }

    .perfect-pack .perfect-pack-h3{
        width: 220px;
        height: 20px;
        font-size: 20px;
        font-weight: 600;
        margin-top: 6px;
        letter-spacing: -0.44px;
    }

    /*Perfect End*/

    /*footer start*/

    .footer{
        height: 300px;
    }

    .footer-h1{
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
    }

    .footer-p{
        font-size: 10px;
        font-weight: 400;
        line-height: 30px;
    }

    .search{
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .search .footer-input{
        width: 220px;
        height: 40px;
        padding: 8px;
        font-size: 12px;
        font-weight: 400;
        line-height: 40px;
        margin: 0 4px;
    }




    .search .footer-search{
        width: 121px;
        height: 51px;
        border-radius: 4px;
        padding: 12px;
        font-size: 12px;
        font-weight: 500;
        line-height: 50px;
        letter-spacing: -0.5px;
        border: #0F2137 solid 0.5px;
    }

    /*footer start*/
}