@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: auto;
}

/*Navbar start*/

.navbar {
    flex-shrink: 0;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-2 .logo {
    width: 180px;
    height: 106px;
}

ul, li, a {
    text-decoration: none;
    list-style: none;
}

ul, .nav li a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
    color: #02073E;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
}

.col-2 a {
    width: 146px;
    height: 45px;
    margin: auto;
    flex-shrink: 0;
    border-radius: 5px;
    font-family: 'DM Sans', sans-serif;
    background: #02073E;
    color: #fff;
    list-style: none;
    padding: 20px;
    font-weight: bold;
}

/*Navbar end*/


/*footer start*/

.footer{
    display: flex;
    justify-content: center;
    background: #020718;
    width: 1313px;
    height: 560px;
    flex-shrink: 0;
}

.footer-h1{
    color: #FFF;
    text-align: center;
    font-family: DM Sans, serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -0.5px;
}

.footer-p{
    color: #FFF;
    text-align: center;
    font-family: DM Sans, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -0.5px;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
}


.search input{
    width: 380px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 5px;
    opacity: 0.07999999821186066;
    background: #FFF;
    padding: 10px;
    color: #FFF;
    font-family: DM Sans, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
}

.search .footer-search{
    width: 160px;
    height: 60px;
    border-radius: 4px;
    background: #FFF;
    flex-shrink: 0;
    padding: 16px;
    color: #020718;
    font-family: DM Sans, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
    opacity: 0.800000011920929;
    letter-spacing: -0.5px;
}



/*footer start*/
